<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2>Premium Analysis</h2>
        <form [formGroup]="premiumReqForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Full Name</label>
            <input type="text" formControlName="userName" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.userName.errors }" />
            <div *ngIf="submitted && form.userName.errors" class="invalid-feedback">
              <div *ngIf="form.userName.errors.required">User Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Date of Birth (MM/DD/YYYY)</label>
            <input matInput [matDatepicker]="picker" formControlName="dob" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.dob.errors }" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <div *ngIf="submitted && form.dob.errors" class="invalid-feedback">
              <div *ngIf="form.dob.errors.required">Date of birth is required</div>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="isfutureDate">
              Date of birth should be a date from the past. 
            </div>
          </div>

          <div class="form-group">
            <label>Occupation</label>

            <mat-select formControlName="occupation" (selectionChange)="onSubmit()" [disabled] ="isActionProgress">
              <mat-option *ngFor="let ocp of occupations" [value]="ocp.occupationId" class="form-control" >
                {{ocp.occupationName}}
              </mat-option>
            </mat-select>
           
          </div>
          <div class="form-group">
            <label>Sum Insured ($)</label>
            <input type = "number" min="1" formControlName="sumInsured" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.sumInsured.errors }" />
            <div *ngIf="submitted && form.sumInsured.errors" class="invalid-feedback">
              <div *ngIf="form.sumInsured.errors.required">Sum Insured is required</div>
            </div>
            <div class="alert alert-danger" *ngIf="invalidSumInsured">
              Sum Insured should be greater than 1. 
            </div>
          </div>
          <div class="alert alert-success" role="alert" *ngIf="premiumFound">
            As your job rating is {{rating}}, the premium to be paid will be {{premium | currency:'USD'}}
          </div>

          <div *ngIf="isActionProgress">
            <img src="../../assets/loading.gif"/>
          </div>

          <div class="form-group" *ngIf="!isActionProgress">
            <button class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
